[ req ]
default_bits        = 2048
default_md          = sha256
default_keyfile     = dh_key.pem
prompt              = no
encrypt_key         = no
distinguished_name  = req_distinguished_name
req_extensions      = req_ext

[ req_distinguished_name ]
C  = US
ST = California
L  = San Francisco
O  = DH public key user orgs 
CN = example.dh.com

[ req_ext ]
keyUsage = critical, keyAgreement

